.split-bg {
            height: 100vh;
            position: relative;
            display: flex;
        }

        .left-half,
        .right-half {
            width: 50%;
        }

        .left-half {
            background-color: #343a40;
            /* abu-abu gelap */
            position: relative;
        }

        .right-half {
            background-color: #ffffff;
        }

        .form-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            max-width: 420px;
        }

        .back-button {
            position: absolute;
            top: 1rem;
            left: 1rem;
        }

        .upload-button {
            background-color: #6a1b9a;
            color: white;
            border: none;
            padding: 0.5rem 1rem;
            cursor: pointer;
            margin-top: 1rem;
        }
